body {
	position: relative;
	background-color: #d8dde0;
	color: #444444;

	margin: 0;
	padding: 0;

	font-family: "Arial", "Helvetica", sans-serif;
}

/* ---- Generic ---- */

ul {
	list-style-type: none;
	padding: 0;
}

h2 {
	margin: 10px 0 8px 0;
	padding: 0;
}

h3 {
	margin: 10px 0 0 0;
	padding: 0;
}

h4 {
	margin: 0;
	margin-top: 10px;

	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

a {
	color: #2299bb
}

table {
	width: 100%;
}

/* ---- Title ---- */

#titleContainer {
	background-color: #222222;
	color: #2299bb;

	margin: 0 0 20px 0;

	box-shadow: 0 5px 5px #888888;
}
#titleBanner {
	position: relative;
	width: 900px;
	margin: 0 auto 0 auto;
	padding: 15px 0 15px 0;

	font-family: Impact, Charcoal, sans-serif;
	font-size: 48px;
}

#titleBanner .beta {
	opacity: 0.3;
	float: right;
}

#titleBanner a {
	text-decoration: none;
}

#titleContainer p {
	font-size: 20px;

	color: #999999;

	width: 600px;

	margin: 0 auto 0 auto;
	padding: 0 0 15px 0;

	text-align: center;
}

#titleContainer p strong {
	color: #2299bb;
}

/* ---- Top Container ---- */

#topContainer {
	position: relative;
	margin: 0 auto 0 auto;

	width: 900px;
}

/* ---- Camera Table ---- */

#cameraTableContainer {
	position: relative;
	font-size: 12px;

	background-color: #aabbcc;

	padding: 5px 5px 30px 5px;

	border-radius: 5px;

	margin: 0 150px 0 auto;
}
#cameraTableContainer tr {
	cursor: pointer;
}

#cameraTableContainer tr.rowSelected {
	background-color: #bbccdd;
}
#cameraTableContainer tr.rowSelected td.sorting_1 {
	background-color: #aabbcc;
}

#cameraTableContainer th.name,
#cameraTableContainer td.name {
	width: 160px;
}

#cameraTableContainer th.crop,
#cameraTableContainer td.crop {
	width: 70px;
}

#amazonLink {
	position: absolute;
	right: 0;
	height: 250px;

	background-color: #f8faff;
	color: #1188aa;

	z-index: 2;

	padding: 10px;

	border-style: solid;
	border-width: 2px;
	border-color: #0066aa;
	border-radius: 5px;

	margin: 0;

	box-shadow: 5px 5px 5px rgba(0, 0, 32, 0.5);
}

#apertureHint {
	position: absolute;

	bottom: -14px;
	left: 365px;
	right: 0;
}

#apertureHintArrow {
	position: absolute;

	top: -15px;
	left: 300px;
	right: 0;

	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	
	border-bottom: 15px solid #eeeeaa;

	z-index: 9;
}

.helpTip {
	background-color: #eeeeaa;

	border-style: solid;
	border-width: 1px;
	border-color: #aaaa88;

	padding: 5px;

	z-index: 10;
}

/* ---- Simulation ---- */

#simulationContainer {
	position: relative;
	width: 900px;

	margin: 20px auto 20px auto;
	padding: 0px 20px 0 20px;

	background-color: #d8dde0;

	/*box-shadow: 0 0 15px 15px #aaaaaa;*/
}

#scene {
	position: relative;
	clear: both;
}

#sceneSelector {
	/*position: absolute;
	top: 8px;
	left: 0;
*/

	padding: 8px 10px 0 10px;
	margin: 0 0 0 300px;
}

#sceneSelector label {
	font-size: 22px;
}
#sceneSelector select {
	font-size: 18px;
}

#sceneInfo {
	position: relative;

	margin: 0 0 0 300px;

	width: 550px;
	padding: 8px 10px 0 10px;
}

#sceneInfo table {
	width: 430px;
}

#cameraContainer {
	position: relative;
	background-color: #222222;
	background-image: url('content/darkLeather.png');

	clear: both;

	color: #aaaaaa;

	margin: 0 auto 0 auto;

	min-height: 400px;
	padding: 20px;

	border-radius: 15px;

	box-shadow: 0 0 10px 10px rgba(0, 0, 32, 0.4);
}

#leftColumn {
	position: absolute;

	top: 20px;
	width: 280px;
}

#rightColumn {
	position: relative;
	float: right;
	width: 570px;
}
#display {
	position: relative;

	background-color: #000000;

	border-style: solid;
	border-width: 5px;
	border-color: #222222;
	border-radius: 15px;

	width: 570px;
	height: 390px;
}

#loading {
	position: relative;
	top: 100px;
	text-align: center;

	color: white;

	z-index: 10;

	text-shadow: 0 0 4px #000000;
}

#largeCanvas {
	position: absolute;

	left: 15px;
	top:  15px;

/*	margin-left: auto;
	margin-right: auto;*/
}
h1 {
	color: #FF7643;
	font-family: Arial;
	text-align: center;
}
/*p {
	color: blue;
	font-size: 1.1em;
	line-height: 110%;
	margin-top: 10px;
	margin-bottom: 10px;
}
p:first-letter {
	font-size: 1.8em;
}*/

.controlPanel {
	position: absolute;
	left: 0;
	top: 0;

	padding: 8px;

	font-family: "Arial", sans-serif;
	font-size: 18px;

	background-color: #000000;

	border-style: solid;
	border-width: 5px;
	border-color: #222222;
	border-radius: 15px;
}
.controlPanel output {
	border: 0;
	color: #eebb33;
}

.controlPanel select {
	background-color: #dddddd;
	color: #000000;
	
	font-family: "Arial", sans-serif;
	font-size: 16px;
}

.controlPanel table td {
	padding: 2px 0 2px 0;
}

.controlPanel label {
	font-size: 16px;
	color: #888888;
}

.controlPanel label[data-focus] {
	font-size: 14px;
}
.controlPanel label[data-mode] {
	font-size: 20px;
}

.controlPanel label[data-focus],
.controlPanel label[data-mode] {
	color: #886522;
}

.controlPanel label[data-focus].selected,
.controlPanel label[data-mode].selected {
	color: #eebb33;
}

.slider {
	font-size: 14px;
}

.category {
	display: none;
}

.category.selected {
	display: block;
}

#simulationError {
	position: absolute;
	top: 260px;
	color: red;
}

#simulationStatus {
	position: absolute;
	top: 290px;
}

/* ---- Bottom ---- */

#bottomContent {
	position: relative;
	width: 900px;
	margin: 0 auto 0 auto;
}

/* ---- Footer ---- */

#footerContainer {
	position: relative;
	clear: both;
	margin-top: 30px;
	border-top-style: solid;
	border-top-colour: black;
	border-top-width: 1px;
	background-color: #222222;
	color: #aaaaaa;
}

#footer {
	position: relative;

	width: 900px;
	margin: 0 auto 0 auto;
	
	clear: both;
	padding: 15px 0 15px 0;

}

